{# show message boxes  + HTML forwarding
 INPUT: 
 meta['forward']
 pageinfo['err.mess']
 pageinfo['ok.mess']
 
 #}
 
{% if meta['forward'] %}
    {{ meta['forward']|safe }}		
{% endif %}


{% if 'err.mess' in pageinfo %}
  </div>
  <div class="alert alert-danger"> <strong>Error!</strong> 
     {{ pageinfo['err.mess']['text'] }}	
     {# THIS COULD MAKE THE Error stack visaible to the user: &nbsp;&nbsp;&nbsp; <span title="{{ pageinfo['err.mess']['stack_str'] }}">(Error-Stack)</span> #}
  </div>
  <div class="row d-flex mb-5">
{% endif %}
   
{% with warn_mess = get_flashed_messages(category_filter=["warning"]) %}
{% if warn_mess %}
  </div>
 {% for msg in warn_mess %}
  <div class="alert alert-warning">
    <strong>WARNING:</strong> {{ msg }}</li>
  </div>
  <br><br>
   
 {% endfor %}
 <div class="row d-flex mb-5">
{% endif %}
{% endwith %}

{% with info_mess = get_flashed_messages(category_filter=["info"]) %}
{% if info_mess %}
 </div>
 {% for msg in info_mess %}
  <div class="alert alert-success">
    <strong>OK:</strong> {{ msg }}</li>
  </div>
  <br><br>
 {% endfor %}
 <div class="row d-flex mb-5">
{% endif %}
{% endwith %}
 
