<!DOCTYPE html>
<!-- https://getbootstrap.com/docs/4.2/examples/sign-in -->
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="BlinkDMS, a Document Management System">
    <meta name="author" content="Steffen Kube">
    <meta name="copyright" content="Steffen Kube, https://github.com/qbicode/blinkdms" />

    <title> {{ pageinfo['site.title'] }} - {{ pageinfo['title'] }}</title>

    <!-- Bootstrap core CSS -->
<link href="res/css/bootstrap.min.css" rel="stylesheet" >


    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
    <link href="res/css/signin.css" rel="stylesheet">
  </head>
  <body class="text-center">
